In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('titanic.sqlite')

# Read the 'titanic' table into a pandas DataFrame
df = pd.read_sql('SELECT * FROM me', conn)
df

Empty DataFrame
Columns: [id, name, age, hobby, project]
Index: []

In [3]:
import sqlite3
import hashlib

conn = sqlite3.connect('titanic.sqlite')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE IF NOT EXISTS users (
                    id INTEGER PRIMARY KEY,
                    username TEXT UNIQUE NOT NULL,
                    password TEXT NOT NULL)''')

cursor.execute('''CREATE TABLE IF NOT EXISTS me
                (id INTEGER PRIMARY KEY AUTOINCREMENT,
                    name TEXT,
                    age INTEGER,
                    hobby TEXT,
                    project TEXT)''')
print("execution done")

conn.commit()
conn.close()

execution done